.works
  .work
    a(rel = 'fancybox-thumb' data-bind = 'attr:{href:picture, class:gallery}')
      img(data-bind = 'attr:{src:picture}' alt = 'фотографии реализации наших проектов' width = '200px' height = '160px')