//- .content
.content--social
  a.content--social-vk-block(href='https://vk.com/club103394007' target='_blank') мы в контакте
    .content--social-vk
  a.content--social-instagram-block(href='') мы в инстаграме
    .content--social-instagram
hr.content--line
.content--hidetabs
#tabs
  ul
    li(id='firstTab')
      a(href="#tabs-main", id='tab-main') Главная
    li
      a(href="#tabs-homes", id='tab-home') Дома
    li
      a(href="#tabs-baths", id='tab-bath') Бани
    li
      a(href="#tabs-gallery", id='tab-gallery') Портфолио
    li
      a(href="#tabs-another" ,id='tab-another') Другое
    li.hidden
      a(href="#tabs-single") 3D

  #tabs-main
    .content--main
      h2 Мы занимаемся строительством домов из профилированного бруса.
      ul
        li проектирование будущего сооружения
        li установка фундамента
        li возведение силовой части здания
        li кровельные работы
        li отделка
      img(src='img/content/home.jpg' height='350px' width='470px')
  #tabs-homes(data-bind = 'collection:$collection')
  #tabs-baths(data-bind = 'collection:$collection')
  #tabs-gallery
    .content--gallery-title Баня 5х4
    .content--gallery-bath(data-bind = 'collection:$collection')
    .content--gallery-title Дом 10х12
    .content--gallery-home(data-bind = 'collection:$collection')
  #tabs-another
    .content--another-title Подробности по телефону 8 904 026 04 43
    .content--another-block
      .content--another-element
        .content--another-text Монтаж заборов
        img(src='img/another/zabor.jpg' width='250px' height='250px')
      .content--another-element.__no-margin
        .content--another-text Монтаж дверей
        img(src='img/another/door.jpg' width='250px' height='250px')
      .content--another-element
        .content--another-text Отделка дома
        img(src='img/another/otdelka.jpg' width='250px' height='250px')
      .content--another-element.__no-margin
        .content--another-text Монтаж окон
        img(src='img/another/window.jpg' width='250px' height='250px')
  #tabs-single
    .content--project(data-js-project-name)
    .content--price(data-js-project-price)
    img.content--singleImg(data-js-item-image height='460px' width='460px')
    .content--singleGallery(data-js-collection-item data-id = '')
      img.content--image(data-js-item-image-3d height='150px' width='150px')
      img.content--planeFirst(data-js-item-image-plane1 height='150px' width='150px')
      img.content--planeSecond(data-js-item-image-plane2 height='150px' width='150px')
    .content--butClose(data-js-btn-close)