hr.line
.hidetabs
#tabs
  ul
    li(id='firstTab')
      a(href="#tabs-main", id='tab-main') Главная
    li
      a(href="#tabs-homes", id='tab-home') Дома
    li
      a(href="#tabs-baths", id='tab-bath') Бани
    li
      a(href="#tabs-gallery", id='tab-gallery') Портфолио
    li
      a(href="#tabs-another" ,id='tab-another') Другое
    li.hideLi
      a(href="#tabs-single") 3D

  #tabs-main
    .main
      h2 Мы занимаемся строительством домов из профилированного бруса.
      ul
        li проектирование будущего сооружения
        li установка фундамента
        li возведение силовой части здания
        li кровельные работы
        li отделка
      img(src='content/img/home.jpg' height='350px' width='470px')
  #tabs-homes(data-bind = 'collection:$collection')
  #tabs-baths(data-bind = 'collection:$collection')
  #tabs-gallery
    .gallery-name Баня 5х4
    .gallery-bath-collection(data-bind = 'collection:$collection')
    .gallery-name Дом 10х12
    .gallery-home-collection(data-bind = 'collection:$collection')
  #tabs-another
    .another-title Подробности по телефону 8 904 026 04 43
    .another-block
      .another-element
        .another-text Монтаж заборов
        img(src='content/img/another/zabor.jpg' width='250px' height='250px')
      .another-element.__no-margin
        .another-text Монтаж дверей
        img(src='content/img/another/door.jpg' width='250px' height='250px')
      .another-element
        .another-text Отделка дома
        img(src='content/img/another/otdelka.jpg' width='250px' height='250px')
      .another-element.__no-margin
        .another-text Монтаж окон
        img(src='content/img/another/window.jpg' width='250px' height='250px')
  #tabs-single
    .project
    .price
    img.singleImg(src='content/img/home-3d.png' height='460px' width='460px')
    .singleGallery(data-id = '')
      img.image(src='content/img/home-3d.png' height='150px' width='150px')
      img.planeFirst(src='content/img/home-1p.png' height='150px' width='150px')
      img.planeSecond(src='content/img/home-2p.png' height='150px' width='150px')
    .butClose