doctype html
html
  head
    meta(charset='utf-8')
    title Дома под ключ
    link(rel='icon' type='image/x-icon' href='img/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400italic,700italic|Roboto+Slab:300&subset=cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='styles/normalize.css')
    link(rel='stylesheet' href='styles/fonts.css')
    link(rel='stylesheet' href='styles/tabs.css')
    link(rel='stylesheet' href='styles/fancybox/jquery.fancybox.css')
    link(rel='stylesheet' href='styles/fancybox/jquery.fancybox-thumbs.css')
  body
    header.header
      include ./header/header
    .content
      .plane
        include ./content/content
