// HEADER------------------
.headBack
  width 100%
  //background url('img/wood-head.jpg') repeat
  background-color #D6DE77
  border-bottom 4px solid #5E650B

#head
  position relative
  margin 0 auto
  min-width 1180px
  max-width 1800px
  height 100px
  //border thin solid black
  //background rgba(39,121,170,0.58) url('img/home.png') 600px -30px no-repeat
  //background-size 600px 300px

#company, #contacts
  position absolute
  display inline-block
  //border thin solid black
  vertical-align top

#contacts
  height 100px
  width 450px
  right 120px
  //border-radius 15px
  //border 4px solid #5E650B
  //background url('img/wood-head.jpg') repeat
  
#cont
  height inherit
  margin-top 0px
  background url('img/face2.png') 20px 4px no-repeat
  background-size 90px

#cont1, #cont2
  color #7A7E47
  font-size 20px
  font-weight bold
  font-family arial
  margin-left 130px

#cont1
  margin-top 0px
  padding-top 15px
  font-family: 'PT Sans', sans-serif;
  
#cont2
  margin-top -5px
  color #5E6130
  margin-left 167px
    
#company
  background url('img/logo.png') 50px -6px no-repeat
  background-size 80px
  left 0px
  height inherit
  width 630px
  
  
#com1, #com2
  color #7A7E47
  font-size 20px
  font-weight bold
  font-family: 'PT Sans', sans-serif;
  
#com1
  font-size 40px
  margin-top 11px
  margin-left 240px
  
#com2
  margin-top -38px
  margin-left 350px