.headBack
  width 100%
  min-width 1200px
  background-color #D6DE77
  border-bottom 4px solid #5E650B

#head
  position relative
  margin 0 auto
  min-width 1200px
  max-width 1600px
  height 100px

#company, #contacts
  position absolute
  display inline-block
  vertical-align top

#contacts
  height 100px
  width 450px
  right 20px
  
#cont
  height inherit
  margin-top 0px
  background url('img/face2.png') 20px 4px no-repeat
  background-size 90px

#cont1, #cont2
  color #7A7E47
  font-size 20px
  font-weight bold
  font-family arial
  margin-left 130px

#cont1
  margin-top 0px
  padding-top 15px
  font-family: 'PT Sans', sans-serif;
  
#cont2
  margin-top -5px
  color #5E6130
  margin-left 167px
    
#company
  background-image url('img/logo.png')
  background-repeat no-repeat
  background-position 60px 7px
  background-size 70px
  left 50px
  height inherit
  width 630px
  
  
#com1, #com2
  color #7A7E47
  font-size 20px
  font-weight bold
  font-family: 'PT Sans', sans-serif;
  
#com1
  font-size 46px
  margin-top 20px
  margin-left 170px
  letter-spacing 10px
  
#com2
  position absolute
  left 50%
  right 50%
  width 400px
  margin-left -206px
  font-size 26px