//- header
.header--main
  .header--company 
    .header--company-title ДЕМИ
  .header--slogan строим уютные дома для вас
  .header--contacts
    .header--contacts-name Кочнов Денис Владимирович 
    a.header--contacts-phone(href='tel:89040260443') 8 904 026 04 43